ProductClient/Connected Services/ServiceProducts/ServiceProducts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Urun" nillable="true" type="tns:Urun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUrun" nillable="true" type="tns:ArrayOfUrun" />
  <xs:complexType name="Urun">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirimFiyat" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurumKodu" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urun" nillable="true" type="tns:Urun" />
</xs:schema>